.todo {
  display: flex;
  margin-bottom: 10px;
  gap: 10px;
}

.todo-item {
  width: 600px;
  /* margin-top: 10px; */
  height: 29px;
  padding: 5px 9px;
  background-color: rgb(241, 196, 98);
}

.todo-list-button {
  padding: 13px 14px;
  margin-bottom: 10px;
}

.todo-list-button i {
  scale: 150%;
}

.completed .todo-item {
  background-color: rgb(85, 179, 85);
}
