.lintk-to-start-header {
  margin-bottom: 10px;
}

.links-to-start {
  display: flex;
  justify-content: space-between;
}

.links-to-start .link-to-start-item {
  margin-right: 5px;
}

.open_all_links_button {
  margin-right: 5px;
  font-size: 20px;
}
