/*ОБЩИЕ СТИЛИ*/
body {
  margin: 0;
  padding: 0;
  min-width: 800px;
  background-color: #8c570d;
  /* background-image: url(/assets/images/WoodenTable.jpg); */
}

.container {
  width: 800px;
  margin: 0 auto;
}

h1,
h2 {
  margin: 0;
  padding: 0;
}

/*HEADER*/
.page-header {
  padding-top: 13px;
  margin-bottom: 20px;
}

.main-header {
  font-weight: bold;
  font-size: 70px;
  text-align: center;
}

/*BODY*/
/*LINKS*/
.lintk-to-start-header {
  margin-bottom: 10px;
}

.links-to-start-block {
  border: 2px solid black;
  padding: 10px;
}

.links-to-start {
  display: flex;
  justify-content: space-between;
}

.links-to-start .link-to-start-item {
  padding: 3px;
  margin-right: 5px;
  color: black;
  font-weight: bold;
  text-decoration: none;
  border: solid 2px;
  border-radius: 8px;
}

.links-to-start .link-to-start-item:hover {
  color: #f13a13;
}

.open_all_links_button input {
  display: inline-block;
  padding: 3px;
  margin-right: 5px;
  color: black;
  font-weight: bold;
  text-decoration: none;
  border: solid 2px;
  border-radius: 8px;
  background-color: transparent;
}

.open_all_links_button input:hover {
  color: #f13a13;
  cursor: pointer;
}
