.time-block {
  border: 3px solid black;
  padding: 10px;
  border-radius: 7px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-evenly;
}

.time-container {
  font-size: 60px;
  border: 3px solid black;
  border-radius: 7px;
  margin-bottom: 10px;
  padding: 8px 16px;
  width: 250px;
}

.time-block-item {
  margin: 0 auto;
}

.time {
  margin-left: 19px;
}

.timer-controls {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.time-button {
  font-size: 20px;
  width: 80px;
  margin: 0;
}

.best-time-contols {
  display: flex;
  justify-content: center;
}

.timer-header {
  text-align: center;
  font-size: 30px;
  margin-bottom: 6px;
}
