.lintk-to-start-header {
  display: flex;
  justify-content: space-between;
}

.lintk-to-start-header h2 {
  margin: 0;
}

.lintk-to-start-header .links-hide-button {
  margin: 0;
  height: 45px;
  width: 45px;
}

.links-input:first-of-type {
  width: 750px;
  margin-top: 10px;
}

.links-input {
  width: 696px;
}

.links-add-button {
  position: relative;
  top: -4px;
  left: 3px;
}

.links-list {
  margin: 0;
}

.links-list-trash-button {
  padding: 9px 11px;
  margin-bottom: 8px;
  position: relative;
  top: -2px;
  margin-left: 5px;
}

.open_all_links_button {
  margin-right: 5px;
  font-size: 20px;
}
